<form action="/" method="post">
  <h1>Account Login</h1>
  <input type="email" placeholder="Email" required>
  <input type="password" placeholder="Password" required>
  <button>sign in</button>
</form>
